
<div class="grid">
  <div class="grid-row grid-row-sm grid-row-title">
    <div class="cell form--cancel f05">
      <form action="/categories/<%= @category.id %>" method="GET">
        <input type="submit" value="Cancel" />
      </form>
    </div>
    <div class="cell cell--title f20">
      Edit Category
    </div>
  </div>

  <form action="/categories/<%= @category.id %>" method="POST">

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-1">
        <label for="description-field">Description</label>
      </div>
      <div class="cell form--value cell--backg-1 f15">
        <input value="<%= @category.description %>" type="text" name="description" id="description-field" />
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-2">
        <label for="value-field">Monthly Budget (£)</label>
      </div>
      <div class="cell form--value cell--backg-2 f15">
        <input value="<%= @category.monthly_budget %>" type="number" min="0" name="monthly_budget" id="value-field" />
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--final cell--backg-1">
        <input type="submit" value="Update Category" />
      </div>
    </div>

  </form>
</div>
