<h1>Categories</h1>

<div class="grid">
  <div class="grid-row grid-row-sm grid-row-header">
    <div class="cell f05"></div>
    <div class="cell f3">Description</div>
    <div class="cell">Monthly Budget</div>
  </div>
  <% for category in @categories %>
    <div class="grid-row grid-row-sm">
      <div class="cell f05">(show button)</div>
      <div class="cell f3"><%= category.description %></div>
      <div class="cell"><%= category.monthly_budget %></div>
    </div>
  <% end %>
</div>
