
<!-- # Need to label one form as a numeric? -->

<div class="grid">
  <div class="grid-row grid-row-sm grid-row-title">
    <div class="cell cell--title f20">New Category</div>
    <div class="cell f05"><form action="/categories" method="GET"><input type="submit" value="Cancel" /></form></div>
  </div>

  <form action="/categories" method="POST">

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-1">
        <label for="description-field">Category description</label>
      </div>
      <div class="cell form--value cell--backg-1 f15">
        <input type="text" name="description" id="description-field" />
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-2">
        <label for="value-field">Monthly Budget (whole number of £)</label>
      </div>
      <div class="cell form--value cell--backg-2 f15">
        <input type="text" name="monthly_budget" id="value-field" />
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell cell--backg-1">
        <input type="submit" value="Add Category" />
      </div>
    </div>

  </form>
</div>
