
<!-- # Need to label one form as a numeric? -->

<div class="grid">
  <div class="grid-row grid-row-sm grid-row-title">
    <div class="cell form--cancel">
      <form action="/categories" method="GET">
        <input type="submit" value="Cancel" />
      </form>
    </div>
    <div class="cell cell--title f15">
      New Category
    </div>
  </div>

  <form action="/categories" method="POST">

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-1">
        <label for="description-field">Description</label>
      </div>
      <div class="cell form--value cell--backg-1 f15">
        <input required type="text" name="description" id="description-field" />
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-2">
        <label for="value-field">Monthly Budget (£)</label>
      </div>
      <div class="cell form--value cell--backg-2 f15">
        <input required type="number" min="0" name="monthly_budget" id="value-field" />
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--final">
        <input type="submit" value="Add Category" />
      </div>
    </div>

  </form>
</div>
