
.cell {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.cell-head {
  padding: 8px 5px 8px 5px;
}

.cell--backg-1 {
  background-color: lightyellow;
  /*background-color: papayawhip;*/
}

.cell--backg-2 {
  background-color: gainsboro;
  /*background-color: peachpuff;*/
}

.cell--text-left {
  text-align: left;
}

.cell--text-right {
  text-align: right;
}

.cell--number {
  text-align: right;
  padding: 5px 10px 5px 0px;
}

.cell--red {
  color: red;
}

.cell--date {
  text-align: right;
  padding: 5px 10px 5px 0px;
}

.cell--home {
  font-size: 250%;
  font-weight: bold;
  font-family: "Tangerine", serif;
  text-align: left;
  padding-left: 15px;
}

.cell--title {
  font-size: 180%;
  text-align: left;
  font-weight: bold;
  padding-left: 30px;
}

.cell--title2 {
  font-size: 140%;
  text-align: left;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
}
