
.form--field {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  text-align: right;
}

.form--value {
  border-left: 1px solid tan;
  text-align: left;
}

.form--new{
  text-align: right;
}

.form--cancel {
  text-align: left;
}

.form--edit {
  text-align: right;
}

.form--final {
  text-align: right;
}

.form--filter {
}
