
<div class="grid">
  <div class="grid-row grid-row-sm grid-row-title">
    <div class="cell form--cancel">
      <form action="/months" method="GET">
        <input type="submit" value="Back" />
      </form>
    </div>
    <div class="cell cell--title">
      View Month
    </div>
  </div>

  <div class="grid-row grid-row-sm">
    <div class="cell form--field cell--backg-1">
      Month id
    </div>
    <div class="cell form--value cell--backg-1 f15">
      <%= @month.id %>
    </div>
  </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-2">Number of transactions</div>
      <div class="cell form--value cell--backg-2 f15"><%= @month.id %></div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--final cell--backg-2">
        <form action="/months/<%= @month.id %>/delete" method="POST">
          <input type="submit" value="Delete" />
        </form>
      </div>
    </div>

</div>
